* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  background-color: #032955;
  color: #fff;
  max-width: 500px;
  width: 100%;
  font-size: 1.2rem;
  height: 80vh;
  box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, 0.6);
}

.slackName {
  font-size: 2.5rem;
}

.slackImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 6px solid #e0e0e0;
}

#currentDay {
  padding-left: 10px;
}

#currentTime {
  padding-left: 10px;
}

#track {
  padding-left: 10px;
}

a {
  font-size: 18px;
  width: 100%;
}

.github{
  width: 50%;
  padding: 10px;
  background-color: #de5c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}